name: build-dts

on:
  pull_request:
    paths:
      - src/**

jobs:
  buildDts:
    name: Build type definitions
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      pull-requests: write
    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest, windows-latest
        node: [22.19.0]
        pnpm: [10.17.0]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ matrix.pnpm }}
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build types
        run: pnpm run build:dts
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: 'build: generate type definitions [skip ci]'
