name: ci-chromatic

on:
  push:
    branches: [main]
  pull_request:
    paths:
      - docs/**
      - src/**

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ${{ matrix.os }}
    permissions:
      pull-requests: write
    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest, windows-latest
        node: [22.19.0]
        pnpm: [10.17.0]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ matrix.pnpm }}
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run Chromatic
        id: chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          skip: 'dependabot/**'
          buildCommand: pnpm run build:storybook
          outputDir: storybook-static
      - name: Publish Summary
        run: echo -e "| Results | Chromatic Build |\n| --- | --- |\n| Build Results | ${{steps.chromatic.outputs.buildUrl}} |\n| Storybook Preview | ${{steps.chromatic.outputs.storybookUrl}} |\n| Component Count | ${{steps.chromatic.outputs.componentCount}} |" >> $GITHUB_STEP_SUMMARY
      - name: Comment PR
        if: ${{ github.event_name == 'pull_request' }}
        uses: thollander/actions-comment-pull-request@v3
        with:
          comment-tag: execution
          message: |
            | Results | Chromatic Build |
            | --- | --- |
            | Build Results | ${{ steps.chromatic.outputs.buildUrl }} |
            | Storybook Preview | ${{ steps.chromatic.outputs.storybookUrl }} |
            | Component Count | ${{ steps.chromatic.outputs.componentCount }} |
